<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>

      <P>이 사이트는 <a href="http://a-mean-blog.com/ko/blog/MEAN/MEN-게시판">http://a-mean-blog.com/ko/blog/MEAN/MEN-게시판</a>에서 작성되었습니다!</p>
    </div>
  </body>
</html>
