<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>MEN - 게시판</h1>
        <P>이 사이트는 <a href="http://a-mean-blog.com/ko/blog/MEAN/MEN-게시판">http://a-mean-blog.com/ko/blog/MEAN/MEN-게시판</a>에서 작성되었습니다!</p>
      </div>
    </div>
  </body>
</html>
